
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/Solar/FileContentIndex/505047ad-1c9b-4595-8b63-b6eff508f9c3.vsidx
.vs/Solar/FileContentIndex/5e89e509-3b86-4d11-aebc-ca2a10886159.vsidx
.vs/Solar/FileContentIndex/82d820d2-2c29-469e-9196-63c8f73e40e4.vsidx
.vs/Solar/FileContentIndex/8e9f6a84-3782-4de5-8464-0e8daf3e0bd3.vsidx
.vs/Solar/FileContentIndex/a295ae97-aa4c-425f-8604-599030a1826b.vsidx
.vs/Solar/FileContentIndex/b0cde7c6-c5de-47ea-a9a1-c561fdb86540.vsidx
.vs/Solar/FileContentIndex/d8bea4fe-32b5-4631-aa27-661e7094543c.vsidx
.vs/Solar/FileContentIndex/dbbcad36-4a01-486b-a306-8b02e2377158.vsidx
.vs/Solar/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Solar/FileContentIndex/505047ad-1c9b-4595-8b63-b6eff508f9c3.vsidx
.vs/Solar/FileContentIndex/5e89e509-3b86-4d11-aebc-ca2a10886159.vsidx
.vs/Solar/FileContentIndex/b0cde7c6-c5de-47ea-a9a1-c561fdb86540.vsidx
.vs/Solar/FileContentIndex/d8bea4fe-32b5-4631-aa27-661e7094543c.vsidx
.vs/Solar/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/slnx.sqlite
